body { background-color: #121212; color: white; margin: 0; }
.contenedor-principal { display: flex; justify-content: center; background-color: #000; padding: 30px; gap: 15px; }
.caja-reloj, .digito { background-color: #1a1a1a; font-size: 90px; padding: 10px 20px; border: 1px solid #2a2a2a; border-radius: 5px; min-width: 100px; font-weight: bold; }
